/* ===== VARIABLES ==================== */
:root { 
  font-size: 60%;

 --background-color: #F0F0F7;
 --primary-lighter-color: #9871f5;
 --primary-light-color: #916bea;
 --primary-color: #8257e5;
 --primary-dark-color: #774dd6;
 --primary-darker: #6842c2;
 --secundary-color: #04d361;
 --secundary-dark-color: #04bf58;
 --title-in-primary-color: #fff;
 --text-in-primary-color: #d4c2ff;
 --text-title-color: #32264d;
 --text-complement-color: #9c98a6;
 --text-base-color: #6a6180;
 --line-in-white-color: #e6e6f0;
 --input-background-color: #f8f8fc;
 --button-text-color: #fff;
 --box-base-color: #fff;
 --box-footer-color: #fafafc;
 --small-info-color: #c1bccc;
}

/* ===== GLOBAL ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

body, 
input, 
button, 
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-base-color);
}

#container {
  width: 90vw;
  max-width: 700px;
}